<style>


</style>


  <!-- Resources -->
  <h2>Sodoku</h2>
  <p>
  <button (click)="onClick()" >New game</button>
  </p>
  <p>
    <button (click)="onClickSolve()" >Solve game</button>
    </p>
  <br/>
  <table>
    <ng-container *ngFor="let line of data; let i = index">
      <tr class="row">
      <ng-container *ngFor="let digit of line; let j = index">
        <td id="{{i + ''+ j}}" class="col">{{digit == 0 ? '' : digit}}</td>
      </ng-container>
    </tr>
    </ng-container>
  </table>
  